<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.opatan.e_parking_admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_e_parking"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.opatan.e_parking_admin.animates.CustomViewFinderScanner" />
        <activity
            android:name="com.opatan.e_parking_admin.activities.DetailSiswaActivity"
            android:parentActivityName="com.opatan.e_parking_admin.activities.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CollapsingToolbar" />
        <activity
            android:name="com.opatan.e_parking_admin.activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.opatan.e_parking_admin.activities.MainActivity"
            android:theme="@style/ProfileStyle" />
        <activity
            android:name="com.opatan.e_parking_admin.activities.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/onBoardingStyle" />
        <activity
            android:name="com.opatan.e_parking_admin.activities.SettingActivity"
            android:parentActivityName="com.opatan.e_parking_admin.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsStyle" />
        <activity
            android:name="com.opatan.e_parking_admin.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/loginStyle" />

        <activity
            android:name="com.opatan.e_parking_admin.activities.SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opatan.e_parking_admin.activities.MainActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:screenOrientation="portrait" />
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>